# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.env
.env.production

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env
venv/
.venv/
*.sqlite3
*.log

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
